<form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" autocomplete="email" formControlName="email">
        <mat-hint>Please write your email</mat-hint>
        <mat-error *ngIf="hasError('email','email')">Please write valid email</mat-error>
        <mat-error *ngIf="hasError('email','required')">Field is required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Password" autocomplete="current-password" type="password" formControlName="passwoord">
        <mat-hint>Please write your password</mat-hint>
        <mat-error *ngIf="hasError('passwoord','required')">Field is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="full-width">Log in</button>
</form>
