<div class="main-wrapper">
    <mat-card class="card-wrapper">
        <mat-card-title *ngIf="!createsList">Your lists</mat-card-title>
        <mat-card-content *ngIf="!createsList" fxLayout="row wrap" fxLayoutAlign="space-around center">
            <!-- <div class="test" fxFlex="20">fdafda</div> -->
        </mat-card-content>
        <mat-card-content *ngIf="createsList">
            <app-checklist-form (showList)="showList()"></app-checklist-form>
        </mat-card-content>
        <mat-card-footer *ngIf="!createsList">
            <button mat-fab color="primary" class="add_button" matTooltip="Create new list" (click)="createNewList()">+</button>
        </mat-card-footer>
    </mat-card>
</div>
