<div class="main-wrapper">
    <mat-card class="card-wrapper" fxLayoutAlign="center center" fxLayout="column">
        <mat-card-title>Please log in or register</mat-card-title>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="selectedIndex">
                <mat-tab label="Log in">
                    <h1>Log in</h1>
                    <app-login></app-login>
                </mat-tab>
                <mat-tab label="Register">
                    <h1>Register</h1>
                    <app-register (registerError)="registerError($event)"  (registerOk)="registerOk()"></app-register>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>

