<h2 class="mat-h2">Create new checlist</h2>
<form [formGroup]="checklistForm" (ngSubmit)="createChecklist(checklistForm.value)">
    <mat-form-field class="full-width">
        <input matInput placeholder="List name" formControlName="name"/>
        <mat-hint>Please write your list name</mat-hint>
        <mat-error *ngIf="hasError('name','required')">Field is required</mat-error>
    </mat-form-field>
    <div formArrayName="listFields" *ngFor="let field of listFields.controls; let i=index">
        <mat-form-field class="full-width">
            <input matInput placeholder="List position" [formControlName]="i"/>
            <mat-hint>Please write list position </mat-hint>
        </mat-form-field>
    </div>
    <div class="align-center" *ngIf="isSaving">
        <mat-spinner color="accent" diameter="40"></mat-spinner>
    </div>
    <button mat-raised-button color="primary" type="button" class="full-width" (click)="addFormControl()" *ngIf="!isSaving">Add position</button>
    <button mat-raised-button color="accent" type="submit" class="half-width" *ngIf="!isSaving">Save</button>
    <button mat-raised-button color="warn" class="half-width" (click)="dropChanges()" *ngIf="!isSaving">Drop changes and back to your dasboard</button>
</form>

